body {
    padding: 0 10px;
    background-color: honeydew;
    font-size: 18px;
}

#happy-lake {
    margin-top: 20px;
    font-size: 20px;
}

nav {
    border: rgb(184, 98, 98) 4px;
    height: 2em;
    padding-top: 0.5em;
    border-style: inset;
}

a {
    margin-left: 20%;
    font-size: 23px;
}

.main-img {
    margin-top: 7%;
}

table {
    max-width: 90%;
}

.center {
    text-align: center !important;
}